@import '../general/variables.scss';

.userCard {
    background-color: $white;
    padding: 1rem 1.5rem;
    display: grid;
    margin-bottom: 1rem;
    border-radius: 25px;

    &-link {
        grid-template-columns: 1fr;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: blue;
    }

    &-title {
        text-align: center;
        font-style: italic;
    }

    &-title:not(:last-child) {
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {
    .userCard {
        &-link {
            font-size: 2rem;
        }
    }
}