@import './variables.scss';

.App {
  text-align: center;
  padding: 1rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  text-align: left;
}

button, input[type=submit] {
  background: $buttonBody;
  padding: 1rem;
  cursor: pointer;
  font-family: $secondaryFont;
  border-radius: 25px;
  border: 2px solid $white;
  color: $white;
  font-size: 1.25rem;
  font-weight: bold;
}

#backArrow {
  width: 3rem;
  display: flex;
  margin-left: 1rem;
  cursor: pointer;
}

#titleBar {
  background: $buttonBody;
  border-radius: 25px;
  padding: 1rem;
  color: $white;
}
